{:paths ["src"]
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.861"}
                         nubank/matcher-combinators {:mvn/version "3.1.4"
                                                     :exclusions  [midje/midje]}}}}}
